.scroll-bg{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 1000px;
    width: 100%;
}

.fixed-bg{
    background-position: center;
    background-size: 100%;
    background-attachment: local;
    background-repeat: no-repeat;
    width: 700px;
    height: 400px;
    -webkit-animation: fadeinup 3s;
    border-style: solid;
}

.text-bg{
    position: absolute;
    top: 70%;
    left: 43%;
    animation-delay: 2s;
    -webkit-animation: fadeinup 3s;
}

body{
    background-color: #27418C;
}
