.scroll-bg{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 1000px;
    width: 100%;
}

.fixed-bg{
    background-position: center;
    background-size: 1500px;
    background-attachment: local;
    background-repeat: no-repeat;
    position: relative;
    top: 250px;
    left: 500px;
    width: 700px;
    height: 400px;
    -webkit-animation: fadeinup 3s;
}

.text-bg{
    position: absolute;
    top: 85%;
    left: 32%;
}

body{
    background-color: #27418C;
}