.scroll-bg{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 1500px;
    width: 100%;
    
}
.typo{
    content: url('homepage%20typo.png');
    position: absolute;
    size: 300px;
    width: 300px;
    top: 10%;
    left: 41%;
}

.notice1{
    content: url('notice%20notglow.png');
    position: absolute;
    size: 300px;
    width: 340px;
    height: 470px;
    top: -1%;
    left: 14%;
}
.world1{
    content: url('world%20notglow.png');
    position: absolute;
    size: 300px;
    width: 340px;
    height: 470px;
    top: -0.27%;
    left: 25%;
}
.system1{
    content: url('system%20notglow.png');
    position: absolute;
    size: 300px;
    width: 340px;
    height: 470px;
    top: -0.27%;
    left: 56%;
}
.member1{
    content: url('member%20notglow.png');
    position: absolute;
    size: 300px;
    width: 340px;
    height: 470px;
    top: -1%;
    left: 67%;
    
}

.flagleft{
    content: url('flagleft.png');
    position: fixed;
    size: 200px;
    width: 219.56px;
    height: 928.84px;
    top: 0%;
    left: 1%;
}
.flagright{
    content: url('flagright.png');
    position: fixed;
    size: 200px;
    width: 219.56px;
    height: 928.84px;
    top: 0%;
    left: 86%;
}

.topline{
    content: url('top%20line.png');
    position: fixed;
    width: 1645px;
    top: 2.5%;
    left: 0.8%;
}
.line{
    content: url('line.png');
    position: absolute;
    size: 2000px;
    width: 1600px;
    height: 1000px;
    top: -1.7%;
    left: 30px;
}
.footer{
    content: url('footer.PNG');
    position: fixed;
    size: 2000px;
    width: 1048px;
    height: 80.5px;
    top: 92%;
    left: 18%;
}


.twitter{
    content: url('twitter%20frame.png');
    position: absolute;
    width: 466px;
    height: 674px;
    top: 85%;
    left: 18.3%;
}
.timeline{
    position: absolute;
    top: 88%;
    left: 21.46%;
}

.timer{
    content: url('timer.png');
    position: absolute;
    width: 633.75px;
    height: 147.03px;
    top: 84%;
    left: 43.7%;
}

.qna{
    content: url('qna.png');
    position: absolute;
    width: 320px;
    height: 320px;
    top: 105%;
    left: 42%;
}
.dictionary{
    content: url('market.png');
    position: absolute;
    width: 320px;
    height: 320px;
    top: 105%;
    left: 54%;
}
.market{
    content: url('dictionary.png');
    position: absolute;
    width: 320px;
    height: 320px;
    top: 105%;
    left: 66%;
}

.youtube{
    content: url('youtube.png');
    position: absolute;
    width: 600px;
    height: 210px;
    top: 133%;
    left: 45%;
}

.slideframe{
    content: url('frame.png');
    position: absolute;
    size: 940px;
    width: 1000px;
    top: 50%;
    left: 20%;
}
.container{
    position: absolute;
    width: 900px;
    margin: 0 auto;
    top: 52%;
    left: 21.3%;    
}
.slideshow{
    height: 261px;
    width: 965.5px;
    overflow: hidden;
}
.slides{
    position: relative;
    display: flex;
    height: 261px;
}

.dot{
    position: relative;
    top: 40%;
    left: 49.8%;
     height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active{
    background-color: grey;
}

.fade{
    -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}

body{
    background-color: black;
}